<div th:fragment="notifier">
    <div th:if="${successMessage} != null">
        <div class="alert alert-success alert-dismissible w-100">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:text="${successMessage}"></span>
        </div>
    </div>
    <div th:if="${errorMessage} != null">
        <div class="alert alert-danger alert-dismissible w-100">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:text="${errorMessage}"></span>
        </div>
    </div>
</div>
