<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/head-tag}">
<body>

    <header th:insert="~{fragments/navigation :: navbar}">

    </header>

    <main>
        <div class="container">
            <div class="jumbotron">
                <h1 class="text-center">You don't have access for this content!</h1>
            </div>
        </div>
    </main>

    <footer>

    </footer>

    <div th:replace="~{fragments/scripts}"></div>
</body>
</html>